<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <ul class="list-inline">
        <li class="list-inline-item">
          <span class="badge bg-primary text-white p-2">
            Total Products: {{ appState.productsState.totalProducts }}
          </span>
        </li>
        <li class="list-inline-item">
          <span class="badge bg-success text-white p-2">
            Size per Page: {{ appState.productsState.pageSize }}
          </span>
        </li>
        <li class="list-inline-item">
          <span class="badge bg-warning text-dark p-2">
            Checked: {{ totalCheckedProducts() }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
